#!/bin/sh
set -e

. /usr/share/debconf/confmodule

db_capb backup

STATE=start
while [ "$STATE" != "abort" ] && [ "$STATE" != "done" ]; do
    case "$STATE" in
    start)
        db_input medium llama.cpp-tools/default-ui || true

        if db_go; then
            db_get llama.cpp-tools/default-ui
            if [ "$RET" = "custom" ]; then
                STATE=custom
            else
                STATE=done
            fi
        else
            # User went back
            STATE=abort
        fi
        ;;

    custom)
        # In case we came from an error
        db_fset llama.cpp-tools/default-ui-custom-path seen false
        db_input medium llama.cpp-tools/default-ui-custom-path || true

        if db_go; then
            db_get llama.cpp-tools/default-ui-custom-path
            if [ -d "$RET" ]; then
                STATE=done
            else
                STATE=path-error
            fi
        else
            # User went back
            STATE=start
        fi
        ;;

    path-error)
        db_fset llama.cpp-tools/path-error seen false
        db_input critical llama.cpp-tools/path-error || true
        db_go || true

        STATE=custom
        ;;
    esac
done

# In case the user backed out of the dialog
if [ "$STATE" = abort ]; then
    exit 10
fi

# Save the configuration
db_stop
exit 0
