[Unit]
Description=llama.cpp LLM inference server
After=network-online.target

[Service]
User=_llama-server
Group=_llama-server

ExecStart=/usr/bin/llama-server

Environment=LLAMA_CACHE=/var/cache/llama-server
EnvironmentFile=/etc/default/llama-server

[Install]
WantedBy=multi-user.target

